@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
  Layout = "~/Views/Shared/_ColumnsOne.cshtml";

  //title
  Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
}
@if (!Model.OnePageCheckoutEnabled)
{
  @Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Cart })
}
<section class="container">
  <div class="white-space space-xsmall"></div>
  <section class="section section-main-content">
    <ol class="breadcrumb">
      <li><a href="/" class="text-uppercase">Home</a></li>
      <li><a href="#">Đơn hàng đã đặt </a></li>
    </ol>
    @Html.Partial("OrderSummary", Model)
    <div class="white-space space-small"></div>
  </section>
</section>
